.input-container {
  display: flex;
  justify-content: center;
}

.custom-input {
  width: 40%;
  height: 50px;
  font-size: large;
  font-weight: bold;
  border-radius: 15px 0 0 15px;
  padding: 0 0 0 15px;
  border: 0;
  color: #7a7878;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .custom-input {
    width: 90%;
    height: 50px;
    font-size: large;
    font-weight: bold;
    border-radius: 15px 0 0 15px;
    padding: 0 0 0 15px;
    border: 0;
    color: #7a7878;
  }
}

::placeholder {
  color: #bdb8b8;
}

select {
  background: white;
  border: 1px solid #f3f3f3;
  border-radius: 0 15px 15px 0;
  padding: 10px;
  outline: none;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
