.pagination-box {
  display: flex;
  justify-content: center;
}

.pagination-row {
  justify-content: center;
  align-items: center;
  width: 50%;
}

.pagination-button {
  margin: 5px;
}

.disabled {
  background-color: #4caf50;
  outline: double;
  border: none;
  border-radius: 5px;
  color: white;
}
