.parent-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  height: fit-content;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid rgb(124, 122, 122);
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .job-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(124, 122, 122);
    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.job-box-title {
  align-items: flex-start;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.job-title {
  display: flex;
  padding: 0 15px 0 15px;
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
}

.job-box-body {
  align-items: flex-start;
  font-family: "Roboto Mono", monospace;
}

.job-body {
  display: flex;
  padding: 0 15px 0 15px;
  width: 95%;
  text-align: justify;
}

.job-box-footer {
  align-items: flex-start;
  font-family: "Roboto Mono", monospace;
}

.job-footer {
  display: flex;
  padding: 10px 15px 10px 15px;
  width: 95%;
}

.publish-at {
  display: flex;
  padding: 0 15px 0 15px;
  font-family: "Roboto Mono", monospace;
  color: #7a7878;
  width: 95%;
  flex-direction: column;
  justify-content: flex-start;
}

.publish-at-date {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 30px;
}
